body {
  margin: 0;
  font-family: "Public Sans", sans-serif;
  -webkit-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.category-aktif {
  background-color: #22668a;
  color: white;
  text-decoration: underline;
}

.navbar {
  background-color: #22668a;
}
